#chapters.svelte-15h7nok {
	position: absolute;
	top: 1.5rem;
	width: 100%;
	padding: 0 4.5rem;
	display: -webkit-box;
	display: flex;
	gap: 4px;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	z-index: 1;
}
#chapters.visible.svelte-15h7nok {
	opacity: 1;
}
.section.svelte-15h7nok {
	-webkit-box-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	opacity: 0.5;
}
.section.active.svelte-15h7nok {
	-webkit-box-flex: 5;
	flex: 5;
	opacity: 1;
}
.title.svelte-15h7nok {
	font-weight: 700;
	font-size: var(--14px);
	color: var(--color-purple-400);
}
.bars.svelte-15h7nok {
	display: -webkit-box;
	display: flex;
	gap: 2px;
}
.bar-wrapper.svelte-15h7nok {
	-webkit-box-flex: 1;
	flex: 1;
	height: 20px;
	background: none;
	padding: 0;
}
.bar-wrapper.svelte-15h7nok:hover,
.long-bar-wrapper.svelte-15h7nok:hover {
	cursor: pointer;
}
.bar-wrapper.svelte-15h7nok:hover .bar:where(.svelte-15h7nok),
.long-bar-wrapper.svelte-15h7nok:hover .long-bar:where(.svelte-15h7nok) {
	background: var(--color-purple-200);
}
.bar.svelte-15h7nok {
	height: 4px;
	background: var(--color-white);
}
.bar.active.svelte-15h7nok {
	background: var(--color-purple-400);
}
.long-bar-wrapper.svelte-15h7nok {
	height: 20px;
	background: none;
	padding: 0;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}
.long-bar.svelte-15h7nok {
	width: 100%;
	height: 4px;
	background: var(--color-white);
}
button.mute.svelte-15h7nok {
	position: absolute;
	max-width: 2.5rem;
	top: 1rem;
	right: 1rem;
	background: var(--color-purple-400);
	border-radius: 50%;
	color: var(--color-white);
	font-weight: 700;
	font-size: var(--14px);
	white-space: nowrap;
	opacity: 0.9;
	z-index: 100;
}
button.mute.svelte-15h7nok:hover {
	background: var(--color-purple-200);
}
.wrapper.svelte-1cs38mp {
	position: relative;
}
.wrapper.absolute.svelte-1cs38mp {
	position: absolute;
	width: 11rem;
	right: 1rem;
	top: 10rem;
}
.wrapper.queen.svelte-1cs38mp {
	position: static;
	margin: 5rem auto 1rem;
	width: 50%;
}
.queen.svelte-1cs38mp button:where(.svelte-1cs38mp) {
	pointer-events: none;
}
.crown.svelte-1cs38mp {
	font-size: var(--128px);
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(-10deg);
	transform: translate(-50%, -50%) rotate(-10deg);
}
button.face.svelte-1cs38mp {
	position: relative;
	display: -webkit-box;
	display: flex;
	background: none;
	padding: 0;
	height: 200px;
	width: 100%;
	-webkit-transition: -webkit-transform 0.2s ease-out;
	transition: -webkit-transform 0.2s ease-out;
	transition: transform 0.2s ease-out;
	transition:
		transform 0.2s ease-out,
		-webkit-transform 0.2s ease-out;
}
.quote.svelte-1cs38mp {
	visibility: hidden;
	position: absolute;
	top: -25%;
	left: 100%;
	z-index: 1000;
	width: 100%;
	background: var(--color-white);
	padding: 0.5rem;
	border-radius: 6px;
	font-size: var(--18px);
}
.quote.visible.svelte-1cs38mp {
	visibility: visible;
}
.quote.left-side.svelte-1cs38mp {
	left: -100%;
}
button.face svg path {
	-webkit-transition: fill 0.2s;
	transition: fill 0.2s;
}
.faces.svelte-d71vg {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	-webkit-box-pack: center;
	justify-content: center;
	gap: 1rem;
	margin-top: 3rem;
}
div.svelte-1kdh7ic {
	position: absolute;
	background: var(--color-purple-200);
	font-size: var(--36px);
	padding: 0.5rem 1rem;
	max-width: 38rem;
	font-family: var(--serif);
	font-weight: 700;
	z-index: 2;
}
.top-left.svelte-1kdh7ic {
	top: 6rem;
	left: 2rem;
}
.top-right.svelte-1kdh7ic {
	top: 6rem;
	right: 2rem;
}
.bottom-left.svelte-1kdh7ic {
	bottom: 4rem;
	left: 2rem;
}
.bottom-right.svelte-1kdh7ic {
	bottom: 4rem;
	right: 2rem;
}
img.svelte-3jqii0 {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	height: 100vh;
	opacity: 0.9;
}
.progress.svelte-aci4lz {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1rem;
}
figure.svelte-aci4lz {
	position: relative;
	width: 100%;
	height: 100%;
}
video.svelte-aci4lz {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
video.visible.svelte-aci4lz {
	display: block;
}
video.inline.svelte-aci4lz {
	position: static;
}
.playpause-wrapper.svelte-aci4lz {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 10;
}
.playpause.svelte-aci4lz {
	background: none;
	color: var(--color-purple-400);
	height: 3rem;
	width: 3rem;
	padding: 0;
	display: -webkit-box;
	display: flex;
	opacity: 0.75;
}
.playpause.playing.svelte-aci4lz {
	opacity: 0.2;
}
.playpause.svelte-aci4lz:hover {
	color: var(--color-purple-200);
	opacity: 1;
}
.controls.svelte-aci4lz {
	position: absolute;
	bottom: 2rem;
	left: 1rem;
	z-index: 10;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	gap: 0.5rem;
}
.controls.svelte-aci4lz button:where(.svelte-aci4lz) {
	background: var(--color-purple-400);
	border-radius: 50%;
	color: var(--color-white);
	height: 40px;
	width: 40px;
	font-weight: 700;
	font-size: var(--14px);
	white-space: nowrap;
	opacity: 0.9;
}
.cc.on.svelte-aci4lz {
	outline: 3px solid var(--color-white);
}
.controls.svelte-aci4lz button:where(.svelte-aci4lz):hover {
	background: var(--color-purple-200);
}
.episode.svelte-aci4lz {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background: var(--color-purple-400);
	color: #fff;
	font-size: var(--18px);
	padding: 2px 4px;
	opacity: 0.9;
}
.full .episode {
	top: 4rem;
	right: 0.5rem;
}
.clips.svelte-pjcbwo {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	height: 400px;
	gap: 3rem;
}
.caption.svelte-pjcbwo {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	gap: 4px;
	font-size: 1.2rem;
	margin-top: 0.25rem;
	opacity: 0.2;
	-webkit-transition: opacity calc(var(--1s) * 0.2);
	transition: opacity calc(var(--1s) * 0.2);
}
.caption.visible.svelte-pjcbwo {
	opacity: 1;
}
.controls.svelte-pjcbwo {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	gap: 0.5rem;
	margin-top: 3rem;
}
button.svelte-pjcbwo {
	background: var(--color-purple-400);
	border-radius: 50%;
	color: var(--color-white);
	height: 40px;
	width: 40px;
	font-weight: 700;
	font-size: var(--14px);
	white-space: nowrap;
	opacity: 0.9;
}
.restart.svelte-pjcbwo {
	height: 32px;
	width: 32px;
}
.cc.on.svelte-pjcbwo {
	outline: 3px solid var(--color-white);
}
button.svelte-pjcbwo:hover {
	background: var(--color-purple-200);
}
ul.svelte-rv5gij {
	list-style: none;
	padding: 0;
	padding-left: 2rem;
	font-family: var(--serif);
	font-size: var(--24px);
	margin-top: 2rem;
	font-weight: 700;
}
li.svelte-rv5gij {
	margin: 0.5rem 0;
}
.example.svelte-1hatioa {
	position: fixed;
	height: var(--video-example-height);
	width: 720px;
	height: 360px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translateY(-50%);
	visibility: hidden;
}
.example.visible.svelte-1hatioa {
	visibility: visible;
	z-index: 100;
}
.example.svelte-1hatioa:hover {
	cursor: pointer;
}
.close.svelte-1hatioa {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	background: none;
	padding: 0;
	color: #fff;
	height: 32px;
	width: 32px;
}
.close.svelte-1hatioa:hover {
	color: var(--color-purple-200);
}
video.preview.svelte-1hatioa {
	height: 6rem;
	position: absolute;
	z-index: 10;
	-webkit-transform: translate(calc(-50% + 6px), 4px);
	transform: translate(calc(-50% + 6px), 4px);
	opacity: 0;
	-webkit-transition: opacity calc(var(--1s) * 0.3);
	transition: opacity calc(var(--1s) * 0.3);
}
video.preview.visible.svelte-1hatioa {
	opacity: 1;
}
figure.svelte-1xuczjv {
	position: absolute;
	top: 6rem;
	width: 100%;
	display: -webkit-box;
	display: flex;
	gap: 0.5rem;
	padding-bottom: 1rem;
}
.episodes.svelte-1xuczjv {
	width: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	gap: 2px;
}
.episode.svelte-1xuczjv {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-transition:
		height calc(var(--1s) * 0.5),
		opacity calc(var(--1s) * 0.5);
	transition:
		height calc(var(--1s) * 0.5),
		opacity calc(var(--1s) * 0.5);
}
.long-bar.svelte-1xuczjv {
	position: relative;
	height: 5px;
	width: 100%;
	background: var(--color-gray-100);
}
.apology.svelte-1xuczjv {
	position: absolute;
	height: 100%;
	width: 20px;
	-webkit-transition:
		left calc(var(--1s) * 0.4),
		width calc(var(--1s) * 0.4),
		opacity calc(var(--1s) * 0.4),
		-webkit-transform calc(var(--1s) * 0.4);
	transition:
		left calc(var(--1s) * 0.4),
		width calc(var(--1s) * 0.4),
		opacity calc(var(--1s) * 0.4),
		-webkit-transform calc(var(--1s) * 0.4);
	transition:
		transform calc(var(--1s) * 0.4),
		left calc(var(--1s) * 0.4),
		width calc(var(--1s) * 0.4),
		opacity calc(var(--1s) * 0.4);
	transition:
		transform calc(var(--1s) * 0.4),
		left calc(var(--1s) * 0.4),
		width calc(var(--1s) * 0.4),
		opacity calc(var(--1s) * 0.4),
		-webkit-transform calc(var(--1s) * 0.4);
	visibility: visible;
}
.apology.highlight.svelte-1xuczjv {
	height: 11px;
	width: 26px;
	border: 3px solid var(--color-gray-900);
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	z-index: 11;
}
.apology.highlight.svelte-1xuczjv:hover {
	cursor: pointer;
	-webkit-transform: scale(1.75);
	transform: scale(1.75);
}
.x-labels.svelte-1xuczjv {
	font-size: var(--12px);
	font-family: var(--mono);
	width: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
}
.y-label.svelte-1xuczjv {
	font-size: var(--12px);
	font-family: var(--mono);
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: justify;
	justify-content: space-between;
	white-space: nowrap;
	position: absolute;
	left: 0;
	-webkit-transform: translate(-110%, 0);
	transform: translate(-110%);
}
.image-grid.svelte-1t61qse {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	-webkit-box-align: center;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
}
.caption.svelte-1t61qse {
	color: var(--color-gray-800);
	font-size: var(--14px);
	margin-top: 0.5rem;
}
img.svelte-1t61qse {
	margin: 0;
}
.toggle.svelte-rmtfx1 button:where(.svelte-rmtfx1),
.label.svelte-rmtfx1 {
	font-family: inherit;
	font-size: 1em;
}
.toggle--inner.svelte-rmtfx1
	[role="switch"][aria-checked="true"]:where(.svelte-rmtfx1)
	:where(.svelte-rmtfx1):first-child,
[role="switch"][aria-checked="false"].svelte-rmtfx1
	:where(.svelte-rmtfx1):last-child {
	display: inline-block;
	border-radius: 4px;
	background: var(--color-purple-400);
	color: var(--color-gray-100);
}
.toggle--inner.svelte-rmtfx1 button:where(.svelte-rmtfx1) {
	padding: 0.5em;
	background-color: var(--color-purple-200);
	border: 2px solid var(--color-purple-400);
}
.toggle--inner.svelte-rmtfx1
	button:where(.svelte-rmtfx1)
	span:where(.svelte-rmtfx1) {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	pointer-events: none;
	display: inline-block;
	line-height: 1;
	padding: 0.25em;
}
.toggle--inner.svelte-rmtfx1 button:where(.svelte-rmtfx1):focus {
	-webkit-box-shadow: 0 0 4px 0 var(--color-focus);
	box-shadow: 0 0 4px 0 var(--color-focus);
}
.toggle--slider.svelte-rmtfx1 {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}
.toggle--slider.svelte-rmtfx1 button:where(.svelte-rmtfx1) {
	width: 3.5em;
	height: 2em;
	position: relative;
	margin-left: 0.5em;
	background: var(--color-gray-300);
}
.toggle--slider.svelte-rmtfx1 button:where(.svelte-rmtfx1):focus {
	-webkit-box-shadow: 0 0px 4px var(--color-focus);
	box-shadow: 0 0 4px var(--color-focus);
}
.toggle--slider.svelte-rmtfx1 button:where(.svelte-rmtfx1):before {
	content: "";
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	background: var(--color-white);
	border-radius: 4px;
	top: 0.25em;
	right: 1.75em;
}
.toggle--slider.svelte-rmtfx1
	button[aria-checked="true"]:where(.svelte-rmtfx1) {
	background-color: var(--color-purple-400);
}
.toggle--slider.svelte-rmtfx1
	button[aria-checked="true"]:where(.svelte-rmtfx1):before {
	-webkit-transform: translateX(1.5em);
	transform: translate(1.5em);
}
.toggle--slider.svelte-rmtfx1 button:where(.svelte-rmtfx1):focus {
	-webkit-box-shadow: 0 0 4px 0 var(--color-focus);
	box-shadow: 0 0 4px 0 var(--color-focus);
}
.bar-chart.svelte-1jj0e7i {
	margin-left: 150px;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	gap: 4px;
}
h3.svelte-1jj0e7i {
	margin: 0;
	margin-bottom: 0.5rem;
}
.row.svelte-1jj0e7i {
	position: relative;
	height: 25px;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}
.row.fade.svelte-1jj0e7i {
	opacity: 0.2;
}
.label.svelte-1jj0e7i {
	position: absolute;
	left: 0;
	-webkit-transform: translate(-110%, 0);
	transform: translate(-110%);
	font-family: var(--sans);
	font-size: var(--14px);
}
.bar.svelte-1jj0e7i {
	position: relative;
	height: 100%;
	background: #d3d3d3;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: end;
	justify-content: end;
	-webkit-box-align: center;
	align-items: center;
}
.bar.split.svelte-1jj0e7i {
	-webkit-box-pack: center;
	justify-content: center;
}
.number.svelte-1jj0e7i {
	z-index: 10;
	margin-left: 4px;
	font-family: var(--mono);
	font-size: var(--12px);
	-webkit-transform: translate(calc(100% + 6px), 0);
	transform: translate(calc(100% + 6px));
}
.number.light.svelte-1jj0e7i {
	color: #fff;
}
.split.svelte-1jj0e7i .number:where(.svelte-1jj0e7i) {
	margin: 0;
	-webkit-transform: translate(0, 0);
	transform: translate(0);
}
.toggle.svelte-1jj0e7i {
	font-size: var(--14px);
}
article.svelte-bbfiuh {
	width: 100%;
	height: 100vh;
	z-index: 2;
	pointer-events: none;
	position: relative;
}
.outer.svelte-bbfiuh {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.inner.svelte-bbfiuh {
	width: calc(var(--n) * 100%);
	height: 100%;
	display: -webkit-box;
	display: flex;
}
.slide.svelte-bbfiuh {
	position: relative;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#f9e4ff),
		to(#f5d0ff)
	);
	background: linear-gradient(to bottom, #f9e4ff, #f5d0ff);
	width: calc(100% / var(--n));
	flex-shrink: 0;
}
.content.svelte-bbfiuh {
	position: relative;
	max-width: 45rem;
	margin: 0 auto;
	padding: 0 1rem;
	margin-top: 6rem;
	margin-bottom: 2rem;
}
.slide.svelte-bbfiuh:first-of-type .content:where(.svelte-bbfiuh) {
	margin-top: 2rem;
}
.content.full.svelte-bbfiuh {
	height: 100vh;
	width: 100%;
	max-width: none;
	margin: 0;
	padding: 0;
}
.tap.svelte-bbfiuh {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: flex;
	z-index: 1;
}
.tap.svelte-bbfiuh button:where(.svelte-bbfiuh) {
	height: 100%;
	width: 50%;
	opacity: 0;
}
span.bad {
	background: var(--color-bad);
	color: #fff;
	padding: 0 4px;
}
span.good {
	background: var(--color-good);
	padding: 0 4px;
}
.slide a,
button,
#episode-chart .apology.highlight,
details {
	pointer-events: auto;
}
span.dark-purple {
	background: var(--color-purple-400);
	color: var(--color-white);
	padding: 0 2px;
}
.reddit:first-of-type {
	-webkit-transform: rotate(-1deg);
	transform: rotate(-1deg);
}
.reddit:nth-of-type(2) {
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
}
.reddit:nth-of-type(3) {
	-webkit-transform: rotate(1deg);
	transform: rotate(1deg);
}
